@import '../../styles/variables';

.nav {
    &__container {
        position: relative;
        z-index: 20;
        height: 40px;
        background-color: $purple;
        box-shadow: 0 0 12px 2px $purple;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        cursor: pointer;
    }

    &__item {
        color: $white;
        font-size: $font-18;

        &:hover {
            text-decoration: underline;
        }
    }
}
