.App {

}

.nav {

    &__container {
        height: 40px;
        background-color: lightslategray;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    &__item {

    }
}
