.App {

}

.nav {

    &__container {
        background-color: lightslategray;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        padding: 30px;
    }

    &__item {

    }
}
